<!DOCTYPE html>
<html>
<style>
  h1, h2.heading {
    text-align:center;
    color:#66ffcc;
    padding:20px;
    background-color: #668cff;
  }
  th.button{
    color: lightblue;
    padding:;
    border: 1px  blue;
    width:1%;
    text-align:center;
  }
</style>
<head>
  <title>alpha_blog</title>
  <h1 class="heading">Alpha Blog</h1>
</head>
<nav>
  <table>
    <tr>
      <th class="button">
          <%= link_to 'Home', root_path%>
      </th>
      <th class="button">
        <%= link_to 'About', about_path%>
      </th>
      <th class="button">
        <%= link_to 'Help', about_path%>
      </th>
      <th class="button">
        <%= link_to 'Contact Us', about_path%>
      </th>
    </tr>
  </table>
</nav>
<body>
  <table>
    <tr>
      <th class="button">
        <h2 class="heading">splice</h2>
        <p>
          para gfdshfsd gfd gfdsg fds gfd sg fdsg fds gf sdg fd gfdshfsd g
          gfdshfsd gfd gfdsg fds gfd sg fdsg fds gf sdg fdgfdshfsd gfd gfdsg fd
          gfdshfsd gfd gfdsg fds gfd sg fdsg fds gf sdg fd
        </p>
      </th>
    </tr>
  </table>
</body>
</html>
